<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.core" android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="15"/>
     <application >
<!--	    <receiver android:name="com.core.receiver.NetWorkStatusReceiver" >
	        <intent-filter>
	            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	        </intent-filter>
	    </receiver> -->
<!--         <service android:name=".util.network.ListenNetStateService_">
             <intent-filter>
                 <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
             </intent-filter>
         </service>-->
    </application>

</manifest>